{% extends "base.html" %}

{% block content %}
<div class='row'>
        <div class='col-6'>
                <button type="button" class="btn btn-info btn-lg">Добавить новую модель</button>
        </div>
        <div class='col-6' align="right">
            <button type="button" class="btn btn-secondary">Мои настройки</button>
    </div>
</div>
<div class='row'>
    <div class='col-12'>
        <br>
    </div>
</div>
<div class='row'>
        <div class='col-12'>
                <h2>Мои заказы</h2> <br>
        </div>
    </div>
<div class='row'>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://ap-proekt.ru/upload/iblock/56f/56f6174c0cb0b368b2c6bf3c122b7e4d.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Заказ 1</h5>
                      <p class="card-text">Описание заказа и подробности по его производству.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Исполнитель</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Перейти к заказу</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://ap-proekt.ru/upload/iblock/56f/56f6174c0cb0b368b2c6bf3c122b7e4d.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Заказ 2</h5>
                      <p class="card-text">Описание заказа и подробности по его производству.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Исполнитель</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Перейти к заказу</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://ap-proekt.ru/upload/iblock/56f/56f6174c0cb0b368b2c6bf3c122b7e4d.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Заказ 3</h5>
                      <p class="card-text">Описание заказа и подробности по его производству.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Исполнитель</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Перейти к заказу</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://ap-proekt.ru/upload/iblock/56f/56f6174c0cb0b368b2c6bf3c122b7e4d.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Заказ 4</h5>
                      <p class="card-text">Описание заказа и подробности по его производству.</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Исполнитель</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Перейти к заказу</a>
                    </div>
                  </div>
    </div>
    
</div>
{% endblock %}  
