{% extends "base.html" %}

{% block content %}
<div class='row'>
        <div class='col-12' align="center">
                <div class="alert alert-success" role="alert">
                        Ваш заказ успешно создан - №4
                      </div>
                <br>  <br>  <br>  <br>  <br>
        </div>
        
</div>
<div class='row'>
        <div class='col-12' align="center">
                <h2>Выберите подходящего исполнителя</h2> <br>
        </div>
    </div>
<div class='row'>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://a.d-cd.net/ec79a3es-1920.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Исполнитель 1</h5>
                      <p class="card-text">Краткая информация об исполнителе</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Срок</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Выбрать</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://a.d-cd.net/ec79a3es-1920.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Исполнитель 2</h5>
                      <p class="card-text">Краткая информация об исполнителе</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Срок</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Выбрать</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://a.d-cd.net/ec79a3es-1920.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Исполнитель 3</h5>
                      <p class="card-text">Краткая информация об исполнителе</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Срок</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Выбрать</a>
                    </div>
                  </div>
    </div>
    <div class='col-3'>
            <div class="card" style="width: 18rem;">
                    <img src="https://a.d-cd.net/ec79a3es-1920.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Исполнитель 4</h5>
                      <p class="card-text">Краткая информация об исполнителе</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Срок</li>
                            <li class="list-group-item">Адрес</li>
                            <li class="list-group-item">Цена</li>
                          </ul>
                      <a href="#" class="btn btn-primary">Выбрать</a>
                    </div>
                  </div>
    </div>
    
</div>
<div class='row'>
        <div class='col-12' align="center">
                <br>  <br>  <br>  <br>  <br>
                <button type="button" class="btn btn-info btn-lg">Выбрать позже</button>
        </div>
</div>
{% endblock %}  
